.fourth_sec {
   padding: 10rem 0;
   background: var(--light_white);
}
.fourth_sec img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.fourth_sec .right_div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   color: var(--dark);
   text-align: center;
}
.fourth_sec .right_div h1 {
   font-size: 5rem;
   padding-bottom: 2rem;
}
.fourth_sec .right_div p {
   font-size: 2rem;
}
.button_sec {
   background: var(--light_white);
   padding-bottom: 10rem;
   text-align: center;
}
.button_sec .right_div {
   background: url("../../images/star.svg"), var(--light_white);
   background-repeat: no-repeat;
}
.button_sec .right_div h1 {
   font-size: 3.2rem;
   padding-bottom: 3rem;
}
