.fourth_sec {
   background: var(--dark);
   padding: 2rem;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
   text-align: center;
}
.fourth_sec .first_div h3,
.fourth_sec .second_div h3,
.fourth_sec .third_div h3,
.fourth_sec .four_div h3 {
   font-size: 2.5rem;
   padding: 0.7rem 0;
   color: var(--blue);
}
.fourth_sec .first_div p,
.fourth_sec .second_div p,
.fourth_sec .third_div p,
.fourth_sec .four_div p {
   font-size: 1.5rem;
   padding: 0.7rem 0;
   color: #eee;
}
.fourth_sec .first_div li,
.fourth_sec .second_div li,
.fourth_sec .third_div li,
.fourth_sec .four_div li {
   display: block;
   font-size: 1.5rem;
   padding: 0.7rem 0;
   color: #eee;
}
.fourth_sec .first_div li:hover,
.fourth_sec .second_div li:hover,
.fourth_sec .third_div li:hover,
.fourth_sec .four_div li:hover {
   color: var(--light_white);
   text-decoration: underline;
   transform: translateX(1rem);
}
.fourth_sec .credit {
   text-align: center;
   padding: 2rem 1rem;
   margin-top: 1rem;
   font-size: 2rem;
   font-weight: normal;
   color: #fff;
   border-top: 0.1rem solid var(--top_border);
}
.fourth_sec .credit span {
   color: var(--blue);
}
