@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
:root {
   --blue: #404eed;
   --light_white: #f6f6f6;
   --dark: #23272a;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Play", sans-serif;
   letter-spacing: 1px;
   transition: all 0.1s ease;
}
html {
   font-size: 62.5%;
}
body {
   scroll-behavior: smooth;
}
.btn {
   font-size: 2rem;
   padding: 1rem 3.2rem;
   border-radius: 10rem;
   border: none;
   color: #fff;
   background: var(--blue);
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn:hover {
   background: var(--light_white);
   color: var(--dark);
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (max-width: 1200px) {
   html {
      font-size: 60%;
   }
}
@media (max-width: 1024px) {
   html {
      font-size: 58%;
   }
}
@media (max-width: 724px) {
   html {
      font-size: 55%;
   }
}
@media (max-width: 450px) {
   html {
      font-size: 53%;
   }
}
